@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body{
  margin: 0;
  padding: 0;
}
.container{
  text-align: center;
  margin-top: 100px;
}

/* Hover Effect Blue Button */
.btn.btnServ{
  border: 1px solid #3498db;
  
}
.btn.don{
  border: 1px solid #137c8b;
}
.btn{
  border: 1px solid #5FC2BA;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Poppins";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.btn a 
{
  color:#fff;
  transition: 0.8s;
}
.btn1.btnServ, .btn2.btnServ 
{
  color: #3498db;
}
.btn1.btnServ a, .btn2.btnServ a
{
  color: #3498db;
}
.btn1.don,.btn2.don
{
  color: #137c8b;
}

.btn1,.btn2{
  color: #5FC2BA;
}
.btn3,.btn4{
  color: #fff;
}
.btn1:hover a,.btn2:hover a{
  color: #fff;
}
.btn3:hover,.btn4:hover {
  
  color: #5FC2BA;
}
.btn1:hover,.btn2:hover{
  color: #fff;
}
.btn3:hover,.btn4:hover{
  
  color: #5FC2BA;
}
.btn3.don:hover,.btn4.don:hover{
  
  color: #137c8b;
}
.btn3.don:hover a,.btn4.don:hover a{
  
  color: #137c8b;
}

.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #5FC2BA;
  z-index: -1;
  transition: 0.8s;
}

.btn.btnServ::before
{
  background: #3498db;
}
.btn.don::before
{
  background: #137c8b;
}

.btn1::before,.btn3::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before,.btn4::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn3::before,.btn4::before{
  height: 180%;
}
.btn1:hover::before,.btn2:hover::before{
  height: 180%;
}
.btn3:hover::before,.btn4:hover::before{
  height: 0%;
}

/*services__btn*/

 
.slide__btn {
  
  font-size: 1.5rem;
  background: linear-gradient(to right, #0f3443, #3498db); 
  padding: 20px 60px;
  border: none;
  border-radius:4px;
  color:#fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;

}

.slide__btn a{
  position: relative;
  z-index:2;
  color:#fff;
  text-decoration: none;
}

.slide__btn:after {
  position: absolute;
  content: '';
  top:0;
  left:0;
  height:100%;
  width:0;
  background: #1C2942;
  transition: all 0.35s;
  border-radius: 4px;
}

.slide__btn:hover {
  color:#fff;

}
.slide__btn a:hover {
 text-decoration: none;

}
.slide__btn:hover:after {
  width:100%;
}
