.faq__container
{
   margin-top: 0px;
   margin-bottom: 200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.enteteFaq{
    
    background-image: url(../svg/undraw_Questions_re_1fy7.svg);
    background-size:100%;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position:relative;
    margin-bottom: 30px;
}

.titre{
  font-size: 4em;
  vertical-align: middle;
  padding: 10px 0;
}
.soustitre{
    font-size: 1.7em;
    color: #137c8b;
}
.faq{
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
    margin-top: 50px;
}
.faqContenu{
    border-radius: 5px;
    margin: 15px 0;
    box-shadow: 0 2px 6px 0 #137c8b;
}
.faqQues{
    padding: 10px 5px;
    min-height: 60px;
    font-weight: bold;
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
}
.faqQues::after{
    content:"\002B" ;
    font-size: 30px;
    position: absolute;
    right: 16px;
}
.faqQues:hover{
    color: #137c8b !important;
    }
.faqResp{
    display: none;
    background-color:#1c294215 ;
    position: relative;
    padding: 15px;
    line-height: 30px; 
}
.faqContenu.active .faqResp{
    display: block;
}
.faqContenu.active .faqQues::after{
    content: "\2212";
}