/*Footer*/
.myFooter {
    background-color: #1c2942;
}

.myFooter .info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cp {
    color: gray !important;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

.logopicFooter {
    max-width: 40%;
    max-height: 40%;
    margin: 20px;
}

.myFooter .info>div {
    padding: 30px 40px 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.myFooter a {
    color: white;
}

ul.socials {
    align-self: center;
}

.logo a {
    vertical-align: middle;
}

.myFooter div>* {
    padding-top: 20px;
}

.aide {
    display: flex;
    flex-direction: column;

}

.aide a {
    padding: 10px 20px 0px;

}

@media screen and (max-width:900px) {

    .myFooter .info {
        display: grid;
        grid-template-columns: 1fr;
    }


}