p{
    font-size: 20px;
}
.product {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto ;
    border-radius: 30px;
    max-width: 80%;
    margin-top: 70px;
    margin-bottom: 70px;
}
@media only screen and (max-width: 800px) {
    .product {
        display: flex;
        flex-direction: column;
        grid-template-columns: unset;
    }
  }

.productImage img{
    max-width: 90%;
    max-height: 90%;
    margin: auto;
}
.productDetails{
    align-items: center;
    text-align: center;
}
.productDetails *{
    padding: 10px;
}
.productDetails h1 , .productDetails h2{
    color: #3B556D ;
    letter-spacing: 1px;
}
.productDetails > span{
    display: inline-block;
    border: #3B556D solid 2px;
    border-radius: 20px;
    margin:  20px;
    margin-top: 40px;
    align-items: center;
    padding: 10px 15px;
    text-align: center;
    color: #3b556dd5;
}
.productDetails > span.shopped{
    display: inline-flex;
    flex-direction: row;
    height: 60px !important;
}
.productDetails > span.shopped span{
    display: inline-flex;
    flex-direction: column;
}
.addCart , .removeCart{
padding:  0;
}